body {
    display: flex;
    width: 100%;
    position: relative;
    border: 1px solid black;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 2;
}


.navbar-dark .navbar-brand {
    color: rgb(114 160 169);
    cursor: auto;
}

.navbar-dark .navbar-brand img {
    border-radius: 50%;
}

.navbar-dark .navbar-brand img:hover {
    opacity: .9;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(218,217,232);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f8b232;
}

.nav-item.dropdown {
    display: none;
}

img.home {
    width: 100%;
}

/* profile pic  */

/* img.photo {
    width: 350px;
    height: 350px;
    left: 50%;
    top: 50%;
    position: absolute;
    border-radius: 100%;
} */

main {
    width: auto;
    color: #F0F1ED;
    left: calc(50% - 95pt);
    top: 40%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    text-align: center;

}

main p {
    text-align: center;
    font-size: 22px;
}

main nav ul {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
	overflow: hidden;
	padding: 0;
}

main nav ul li {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 44px;
}

main nav ul li a {
    background: url(img/icons2.jpg) no-repeat 0 0;
    display: block;
    height: 44px;
    margin: 0;
    padding: 0;
    /* text-indent: -99999px; */
    width: 44px;
    text-decoration: none;
}

#twitter {
    background-position: 0 0;
}

#twitter:hover {
    background-position: -44px 0;
}

#facebook {
    background-position: 0 -44px;
}

#facebook:hover {
	background-position: -44px -44px;
}

#googleplus {
    background-position: 0 -88px;
}

#googleplus:hover {
    background-position: -44px -88px;
}

#pinterest {
	background-position: 0 -132px;
}

#pinterest:hover {
	background-position: -44px -132px;
}

footer {
    color: white;
    position: absolute;
    left: calc(50% - 115pt);
    bottom: 1%;
}