* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    position: fixed;
   
}

.navbar-dark .navbar-brand {
    color: rgb(114 160 169);
    cursor: auto;
}

.navbar-dark .navbar-brand img {
    border-radius: 50%;
}

.navbar-dark .navbar-brand img:hover {
    opacity: .9;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgb(218,217,232);
    /* background: radial-gradient(circle, rgba(218,217,232,1) 1%, rgba(134,136,138,1) 100%, rgba(0,212,255,1) 100%); */
    /* color: rgb(114 160 169); */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f8b232;
}

.nav-item.dropdown {
    display: none;
}

.primary-container {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #777777; */
    background: rgb(95,93,119);
    background: radial-gradient(circle, rgba(95,93,119,1) 1%, rgba(134,136,138,1) 100%, rgba(0,212,255,1) 100%);
}

.primary-container img {
    margin: 30px 20px 50px 0px;
    box-shadow: 1em 2em 2em;
    border-radius: 2%;
    /* transform: perspective(1) scaleZ(1) rotateY(0deg); */
}

div.box, div.box2 {
  margin: 20px 20px;
}

.rotateY {
    transform: perspective(1) scaleZ(1) rotateY(0deg);
    transition: transform 0.5s ease; 
}
  
.box:hover .rotateY{
    transform: perspective(200px) scaleZ(1) rotateY(10deg);
}

.rotateY2 {
    transform: perspective(1) scaleZ(1) rotateY(0deg);
    transition: transform 0.5s ease; 
}
  
.box2:hover .rotateY2{
    transform: perspective(200px) scaleZ(1) rotateY(-10deg);
}

.primary-container section {
    /* background-color: #72a0a9; */
    /* background: rgb(203,201,238);
    background: radial-gradient(circle, rgba(203,201,238,1) 1%, rgba(134,136,138,1) 100%, rgba(0,212,255,1) 100%); */
    background: rgb(218,217,232);
    background: radial-gradient(circle, rgba(218,217,232,1) 1%, rgba(134,136,138,1) 100%, rgba(0,212,255,1) 100%);
    text-align: left;
    height: 410px;
    width: 612px;
    margin: 30px 0px 50px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    box-shadow: 1em 2em 2em;
    border-radius: 2%;
    /* transform: perspective(1) scaleZ(1) rotateY(0deg); */
}



.primary-container section h2 {
    width: auto;
    margin-bottom: 20px 0 0 20px;
    color: white;
}

.primary-container section p {
    padding: 30px 30px 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    
}

.primary-container section button a {
    text-decoration: none;
    color: #777777;
}

.primary-container section button a:hover {
    color: white;
}

.primary-container section button {
    margin-top: 20px;
    border: 2px solid #777777;
    border-radius: 5%;
    width: 100px;
    height: 50px;
    font-weight: bold;
    color: #777777;
    padding: 5px;
}

.primary-container section button:hover {
    color: white;
    background: rgb(218,217,232);
    background: radial-gradient(circle, rgba(218,217,232,1) 1%, rgba(134,136,138,1) 100%, rgba(0,212,255,1) 100%);
}

.marketing.container,
.marketing.container-fluid,
.marketing.container-lg, .marketing.container-md, 
.marketing.container-sm, 
.marketing.container-xl, 
.marketing.container-xxl {
    text-align: center;
    margin-bottom: 30px;
}

.marketing.container h2,
.marketing.container-fluid,
.marketing.container-lg, .marketing.container-md, 
.marketing.container-sm, 
.marketing.container-xl, 
.marketing.container-xxl {
    margin: 20px 0 30px;
}

.marketing.container p,
.marketing.container-fluid,
.marketing.container-lg, .marketing.container-md, 
.marketing.container-sm, 
.marketing.container-xl, 
.marketing.container-xxl {
    padding: 10px;
}

footer {
    height: 125px;
    color: white;
    background-color: #212529;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 10px;
}

footer nav ul {
    display: flex;
    margin: 0;
	overflow: hidden;
	padding: 0;
}

footer nav ul li {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 44px;
}

footer nav ul li a {
    background: url(imgAbout/icons.jpg) no-repeat 0 0;
    display: block;
    height: 44px;
    margin: 0;
    padding: 0;
    /* text-indent: -99999px; */
    width: 44px;
    text-decoration: none;
}

#twitter {
    background-position: 0 0;
}

#twitter:hover {
    background-position: -44px 0;
}

#facebook {
    background-position: 0 -44px;
}

#facebook:hover {
	background-position: -44px -44px;
}

#googleplus {
    background-position: 0 -88px;
}

#googleplus:hover {
    background-position: -44px -88px;
}

#pinterest {
	background-position: 0 -132px;
}

#pinterest:hover {
	background-position: -44px -132px;
}

@media(max-width:1260px) {
    .primary-container {
        display: flex;
        flex-direction: column;
    }

    .primary-container img {
        margin: 30px 0 30px 0;
    }

    .primary-container section {
        margin: 0 0 30px 0;
    }
}

@media(max-width:650px) {
    .primary-container img {
        width: 100%;
    }

    .primary-container section {
        width: 100%;
    }

    .primary-container section p {
        padding: 10px;
    }

}

@media(max-width:550px) {
    .primary-container section p {
        padding: 0px;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media(max-width:450px) {
    .primary-container section {
        height: 10%;
    }
}